:root {
    --background-color: #fefefe;
    --text-color: #BF932A;
    --primary-color: #ECDCAB;
    --secondary-color: #DFC578;
    --hover-color: #daa520;
    --card-bg: #e7d18dca;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    scroll-behavior: smooth;
    background: linear-gradient(to right, var(--background-color) , #DFC578 );
    background-color: var(--background-color);
    transition: background 0.8s;
}

.overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--hover-color);
    z-index: 9999;
    display: none;
}
section {
    padding: 2rem 0;
}
header {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    width: 100%;
    top: 0;
    left: 0;
}

nav {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 100;
    background: #fefefeab;
    box-shadow: 0 10px 34px rgba(191, 147, 42, 0.08);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 3vw;
}

.logo {
    margin: 0 10px;
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    color: var(--text-color);
}
.logo a {
    text-decoration: none;
    color: var(--text-color);
    transition: color 0.1s;
}
.logo a:hover {
    color: var(--hover-color);
}
.nav-links ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
}
.nav-links li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav-links a {
    margin: 0;
    padding: 0.5rem 1.2rem;
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
    font-size: 1.1rem;
    text-decoration: none;
    transition: color 0.2s;
}
.nav-links a:hover {
    color: var(--hover-color);
    border-bottom: 1px dotted var(--hover-color);
}

.blog {
    text-align: center;
    margin: 0 2.25rem;
    padding: 8rem 0;
    line-height: 1.5;
}
.blog-text {
    margin: 0 20px;
    margin-bottom: 20px;
}
.blog h1 {
    font-family: 'Poppins';
    font-size: 2.25rem;
    font-weight: bold;
}
.blog p {
    font-size: 18px;
    font-weight: 500;
}
.blog-nav {
    left: 0;
    width: 100%;
    max-width: 1200px;
    z-index: 100;
    border-radius: 50px;
    background-color: #DFC578;
    background: linear-gradient(130deg, #DFC578 70%, #daa520 100%);
    box-shadow: 0 10px 34px rgba(191, 147, 42, 0.08);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem 2vw;
}
.blog-nav ul {
    display: flex;
    gap: 8rem;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
}
.blog-nav li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blog-nav a {
    margin: 0;
    padding: 0.55rem 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 1.05rem;
    text-decoration: none;
    border-radius: 16px;
    transition: background 0.3s, color 0.3s, padding 0.3s;
}
.blog-nav a:hover {
    color: var(--hover-color);
    background: var(--background-color);
    padding: 0.5rem 2vw;
    border-radius: 24px;
}

.blog-menu {
    margin: 0 3.25rem;
    padding: 0;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.blog-menu h1 {
    margin: 0 0 2rem 0;
    padding: 0;
    font-weight: 800;
    font-size: 2rem;
    font-family: 'Montserrat';
    color: #000;
    letter-spacing: 1.0px;
    text-align: center;
    width: 100%;
}
.blog-menu-slider {
    position: relative;
    margin: 0;
    width: 100%;
    max-width: 50rem;
    display: flex;
    justify-content: center;
}

.blog-menu-holder {
    position: relative;
    margin: 0;
    display: flex;
    width: 70rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    box-shadow: 0 8px 32px 0 rgba(229, 229, 9, 0.12);
    border-radius: 5rem;
    background: var(--card-bg);
    gap: 0;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.blog-menu-holder img {
    width: 100%;
    height: 420px;
    flex: 1 0 100%;
    object-fit: cover;
    border-radius: 5rem;
    scroll-snap-align: start;
    transition: transform 0.4s;
}

.blog-menu-holder::-webkit-scrollbar {
    display: none;
}

/*.blog-menu-holder h6 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 12px;
    background: rgba(197, 196, 196, 0.76);
    color: #2e2929;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.4s, transform 0.4s;
    border-radius: 0 0 5rem 5rem;
    text-align: left;
    pointer-events: none;
}

.blog-menu-holder:hover img {
    transform: scale(1.05);
    z-index: 1;
    overflow: hidden;
}
.blog-menu-holder img {
    z-index: 0;
    transition: transform 0.4s, z-index 0s;
}

.blog-menu-holder:hover h6 {
    opacity: 1;
    transform: translateY(0);
}*/